.wrap {
  margin: 100px auto;
  width: 600px;
}

label {
  display: block;
}

.inputs {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

table {
  margin: 50px 0;
  width: 100%;
}

table,
td,
th {
  border: 1px solid gold;
  border-collapse: collapse;
}

td,
th {
  padding: 15px;
}

th {
  background-color: gold;
}

td {
  background-color: darkslateblue;
  color: white;
}

tr#no-data {
    display: none;
}

tr#no-data td {
    text-align: center;
}
